In [1]:
import dask.dataframe as dd

In [2]:
df = dd.read_csv('results/*.csv')

In [3]:
df.head()

,Unnamed: 0,chunk_size,chunks,cores,dataset_shape,dataset_size,duration,machine,memory,name,rate,unit,workers
0,0,176.9472,"(12, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,9.436367,cheyenne,654120.0,Reading data,5852.699570,MB,36
1,1,176.9472,"(12, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,15.147370,cheyenne,654120.0,Weighted Global mean,3646.060185,MB,36
2,0,235.9296,"(24, 20, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,18.311706,cheyenne,654120.0,Reading data,3016.006402,MB,36
3,1,235.9296,"(24, 20, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,15.977426,cheyenne,654120.0,Weighted Global mean,3456.640759,MB,36
4,0,353.8944,"(24, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,13.244986,cheyenne,654120.0,Reading data,4169.745596,MB,36

In [4]:
df = df.drop(['Unnamed: 0'], axis=1)

In [5]:
df = df.compute()

In [6]:
df.head()

,chunk_size,chunks,cores,dataset_shape,dataset_size,duration,machine,memory,name,rate,unit,workers
0,176.9472,"(12, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,9.436367,cheyenne,654120.0,Reading data,5852.699570,MB,36
1,176.9472,"(12, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,15.147370,cheyenne,654120.0,Weighted Global mean,3646.060185,MB,36
2,235.9296,"(24, 20, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,18.311706,cheyenne,654120.0,Reading data,3016.006402,MB,36
3,235.9296,"(24, 20, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,15.977426,cheyenne,654120.0,Weighted Global mean,3456.640759,MB,36
4,353.8944,"(24, 30, 384, 320)",216,"(1872, 60, 384, 320)",55228.221292,13.244986,cheyenne,654120.0,Reading data,4169.745596,MB,36

In [12]:
df.to_csv('clean_esmlab_scaling_results.csv', index=False)

In [13]:
%load_ext watermark
%watermark --iversion -g -m -v -u -d -h

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
dask 1.1.5
last updated: 2019-04-09

CPython 3.7.3
IPython 7.1.1

compiler   : GCC 7.3.0
system     : Linux
release    : 3.10.0-693.21.1.el7.x86_64
machine    : x86_64
processor  : x86_64
CPU cores  : 72
interpreter: 64bit
host name  : casper03
Git hash   : 3f197eb487306b7a37c5e3f0b927db1b81b3c571